<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }}'s Homepage</title>

    <meta charset="utf-8" />
  
    
    <script src="./assets/js/github-stars.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>
    
    <script type="text/javascript">
      function toggle_vis(id) {
          var e = document.getElementById(id);
          if (e.style.display == 'none')
              e.style.display = 'inline';
          else
              e.style.display = 'none';
      }
   </script>

   <script>
      function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
      }
   </script>
   

  </head>
  <body>
    

    <script src="./assets/js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
        backgroundColor: '#fff',
        innerHTML: 'Back to Top',
        textColor: '#333'
      })
    </script>
    <style>
        #back-to-top {
          border: 1px solid #ccc;
          border-radius: 0;
          font-size: 15px;
          width: 100px;
          text-align: center;
          line-height: 30px;
          height: 30px;
        }
    </style>
    
    <div class="wrapper">
      <header>
        
        {% if site.avatar %}
        <a class="image avatar"><img src="{{ site.avatar }}" alt="avatar" /></a>
        {% endif %}

        <h1>{{ site.title }}</h1>

        {% if site.position %}
        <position style="font-size:1.10rem;">{{ site.position }}</position>
        <br>
        {% endif %}
        {% if site.subaffiliation %}
        <a href="{{ site.subaffiliation_link }}" rel="noopener" target="_blank">
        <autocolor>{{ site.subaffiliation }},</autocolor>
        </a>
        <br>
        {% endif %}
        {% if site.affiliation %}
        <a href="{{ site.affiliation_link }}" rel="noopener"><autocolor>{{ site.affiliation }}</autocolor></a>
        <br>
        {% endif %}
        {% if site.address %}
        <a href="{{ site.address_link }}" rel="noopener"><autocolor>{{ site.address }}</autocolor></a>
        <br>
        {% endif %}
        {% if site.email %}
        <email>{{ site.email }}</email>
        {% endif %}
        {% if site.email2 %}
        <br>
        <email>{{ site.email2 }}</email>
        {% endif %}
        
        <br>
        <br>
        <div class="social-icons">
        {% if site.google_scholar %}
        <a style="margin: 0 5px 0 0" href="{{ site.google_scholar }}">
          <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
        </a>  
        {% endif %}

        {% if site.cv_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.cv_link }}">
          <i class="ai ai-cv" style="font-size:1.3rem;"></i>
        </a>
        {% endif %}

        {% if site.github_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.github_link }}">
          <i class="fab fa-github"></i>
        </a>
        {% endif %}

        {% if site.researchgate %}
        <a style="margin: 0 5px 0 0" href="{{ site.researchgate }}">
          <i class="fab fa-researchgate"></i>
        </a>
        {% endif %}

        {% if site.linkedin %}
        <a style="margin: 0 5px 0 0" href="{{ site.linkedin }}">
          <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}

        {% if site.twitter %}
        <a style="margin: 0 0 0 0" href="{{ site.twitter }}">
          <i class="fab fa-x-twitter"></i>
        </a>
        {% endif %}
        </div>
        <br>

      </header>
      <section>

      {{ content }}

      <br>

      {% if site.enable_last_update %}
      <small>Last Update:
            <script>
              const monthNames = ["January", "Februray", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
              ];
              var modiDate = new Date(document.lastModified);
              var showAs = modiDate.getDate() + ". " + monthNames[modiDate.getMonth()] + " " + modiDate.getFullYear();
              document.write(showAs);
            </script>
      </small> 
      {% endif %}

      {% if site.footnote %}
      <div style="font: 12px/1.2 Crimson Pro, serif">
        <br>
        <a href="{{ site.footnote_link }}" rel="noopener">{{ site.footnote }}</a>
      </div>
      {% endif %}

      <br>
      {% if site.clustrmaps_id %}
      <div style="width:300px; pointer-events: none;">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=LTWZqBYr9s2OPIQ_fArLjKld7T2K1HlQjSmT1yWWXlE"></script>
      {% endif %}
      
      </section>
      <footer>
        <div style="font: 12px/1.2 Crimson Pro, serif">
        <p>
        <small>
        {% if site.imprint %}
        <a href="{{ site.imprint }}" rel="noopener"><autocolor>Imprint / Impressum</autocolor></a><br>
        {% endif %}
        {% if site.data_protection %}
        <a href="{{ site.data_protection }}" rel="noopener"><autocolor>Data Protection / Datenschutzhinweis</autocolor></a>
        {% endif %}
        </small>
        </p>
        </div>
        <br>
        <br>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
